body{
	background-image: url("../img/bg1.jpg");

	background-repeat: no-repeat;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 12pt;
}

a{
	font-weight: bold;
	font-size: 12pt;
}

h1, h2, h3{
	text-align: center;

}

.row{
	margin-right: 0;
	margin-left: 0;
}

#navbrand{
	font-size: 14pt;
	font-family: 'Press Start 2P', cursive;
	color: #ffb800;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.myheaders{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: #ffb800;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 32pt;
}
#newGameButtonDiv{
	text-align: center;
}

#newGame{
	display: inline-block;
	text-align: center;
}